name: Feature Pipeline (Hourly)

on:
  schedule:
    - cron: '0 * * * *'   # Every hour UTC
  workflow_dispatch:

jobs:
  feature-pipeline:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install pandas requests hopsworks==4.2.* pyarrow

      - name: Run Feature Pipeline
        env:
          HOPSWORKS_API_KEY: ${{ secrets.HOPSWORKS_API_KEY }}
        run: |
          python feature_pipeline/fetch_aqi_hourly.py
          python feature_pipeline/feature_engineering.py
